@tailwind base;
@tailwind components;
@tailwind utilities;

.contributors {
    display: flex;
    gap: 15px;
}
.contributors td {
    width: 150px;
}
.contributors sub {
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.outputBoxText {
    bottom: 40%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    left: 25%;
    position: absolute;
}
.outputDiv {
    display: flex;
}

@media  screen and (max-width: 576px) {
    .contributors sub {
        font-size: x-small;
    }
    .outputBoxText {
        bottom: 30%;
        color: white;
        font-size: 12px;
        font-weight: bold;
        left: 15%;
        position: absolute;
    }
}